<%- include('partials/header'); -%>    
<!-- My Art -->
<section class="collection bg-primary pt-5">
    <div class="container-fluid`">
      <h2 class="pt-4 mb-2 text-white">My Art <i class="fas fa-palette"></i></h2>
      <p class="lead text-white mb-5">This is a collection of my favorite artworks!</p>
      <div class="content p-5">
        <% images.map(function(image){ %>
          <% var href = "/images/"+image.id %>
          <a href=<%= href %> ><img width="90%" src=<%= image.src%> alt=<%= image.src %> class="img-thumbnail img-shadow"/></a>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- My Art ends-->
  <%- include('partials/footer'); -%>